.resume-section{
 	
	font-family: Georgia;
 }



 .list-social-icons a:hover {
	color: #00C0F9;
 }
 .list-icons .list-inline-item i:hover {
	color: #00C0F9;
 }
 .bg-primary {
	background-color: #00C0F9 !important;
 }
 
 .text-primary {
	color: #00C0F9 !important;
 }
 
 a {
	color: #00C0F9;
 }
 
 a:hover, a:focus, a:active {
	color: #00C0F9;
 }